<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootswatch CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.css" />

    <style>
      html {
        border: 3px solid black;
        box-sizing: border-box;
      }

      body {
        padding: 1rem;
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.25rem;
      }

      h1,
      h3 {
        font-size: 3rem;
      }
    </style>

    <title>STUDENT REPORT | MOCK PLACEMENTS 2023</title>
  </head>
  <body>
    <% const sumOfValues = (obj) => Object.values(obj).reduce((a, b) => a + b) %>

    <main class="container" id="report">

      <img src="/img/logo.png" align="left" alt="FORESE Logo" width="120" />
      <img src="/img/svcelogo.png" align="right" alt="SVCE Logo" width="180" />
      
      <br />
  

      <!-- <h3 class="text-center h3">SRI VENKATESWARA COLLEGE OF ENGINEERING, SRIPERUMBUDUR</h3> -->
      <h1 class="text-center h1" style="margin-right:100px;">MOCK PLACEMENTS 2023</h1>
      <h3 class="text-center h3">STUDENT REPORT</h3>

      <p class="mb-0"><b>Student Registration Number</b> : <%= student.register_num %></p>
      <p class="mb-0"><b>Student Name : </b><%= student.name %></p>
      <p class="mb-0"><b>Student Department : </b><%= student.dept %></p>
      <!-- <% if(student.section) { %>
      <p class="mb-0"><b>Student Section : </b><%= student.section %></p>
      <% } %> -->
      <p class="mb-0"><b>Student E-Mail ID : </b><%= student.email %></p>

      <br />

      <p class="text-uppercase"><b>Aptitude Test Results:-</b></p>
      <table class="table table-sm table-bordered table-hover text-center" id="aptitudeScores">
        <tbody>
          <tr>
            <td>Core</td>
            <td><%= student.aptitude_scores["core"] %> / 20</td>
          </tr>
          <tr>
            <td>Verbal</td>
            <td><%= student.aptitude_scores["verbal"] %> / 10</td>
          </tr>
          <tr>
            <td>Quants</td>
            <td><%= student.aptitude_scores["quants"] %> / 10</td>
          </tr>
          <tr>
            <td>Coding</td>
            <td><%= student.aptitude_scores["programming"] %> / 10</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-uppercase"><b>Total Score</b></td>
            <td><%= sumOfValues(student.aptitude_scores)%> / 50</td>
          </tr>
        </tfoot>
      </table>

      <br />

      <p class="text-uppercase"><b>Group Discussion Results:-</b></p>
      <table class="table table-sm table-bordered table-hover text-center" id="gdScores">
        <tbody>
          <tr>
            <td>Subject Knowledge</td>
            <td><%= student.gd_scores["subject_knowledge"] %> / 5</td>
          </tr>
          <tr>
            <td>Communication Skills</td>
            <td><%= student.gd_scores["communication_skills"] %> / 5</td>
          </tr>
          <tr>
            <td>Body Language</td>
            <td><%= student.gd_scores["body_language"] %> / 5</td>
          </tr>
          <tr>
            <td>Listening Skills</td>
            <td><%= student.gd_scores["listening_skills"] %> / 5</td>
          </tr>
          <tr>
            <td>Critical Thinking</td>
            <td><%= student.gd_scores["critical_thinking"] %> / 5</td>
          </tr>
          <tr>
            <td>Leadership Skills</td>
            <td><%= student.gd_scores["leadership_skills"] %> / 5</td>
          </tr>
        </tbody>
        <tfoot class="text-uppercase">
          <tr>
            <td><b>Total Score</b></td>
            <td><%= sumOfValues(student.gd_scores) %> / 30</td>
          </tr>
        </tfoot>
      </table>
    </main>
  </body>
  <script>
    alert('Click Ctrl + P to print your report.');
  </script>
</html>
